{
  "plugins": [
    "babel-plugin-add-module-exports",
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "bugfixes": true,
        "targets": {
          "node": "6.0.0"
        }
      }
    ]
  ]
}
