{
  "extends": "airbnb-base",
  "plugins": ["ava"],
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "max-len": ["error", 140],
    "linebreak-style": "off",
    "ava/no-cb-test": "error",
    "ava/no-identical-title": "error",
    "ava/no-invalid-end": "error",
    "ava/no-only-test": "error",
    "ava/no-skip-assert": "error",
    "ava/no-skip-test": "error",
    "ava/no-todo-test": "warn",
    "ava/prefer-power-assert": "error",
    "ava/test-ended": "error",
    "ava/test-title": ["error", "always"],
    "ava/use-t": "error",
    "ava/use-test": "error"
  }
}
